<div id="index_things">
	<div id="new-post">
		<%= link_to 'new post', new_post_path, remote: true %>
	</div>
	<!-- <h1 id='title'>Top 5ives</h1> -->
	<p id="prepend-me"><%= render @posts %> </p>
</div>
