/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);

body {
	background-color: #93BED7;
	font-family: 'Open Sans', sans-serif;
}
header {
	border-bottom: 1px solid black;
	border-bottom-width: 70%;
	padding-bottom: .5em;
}
#flash {
	width: auto;
	height: auto;
	font-size: 50%;
	background-color: #8A6330;
}
li {
	display: inline;
	margin-right: 5em;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding-right: .5em;
	padding-left: .5em;
}
ul {
	padding-left: 20px;
}
#welcome_user {
	margin-right: 1em;
	float: right;
	font-weight: bolder;
	font-size: 1.25em;
}
main {
	max-width: 550px;
	margin: 0 auto;
	background-color: #274258;
	height: 100%;
	text-align: center;
	border-radius: 15px;
	border: 5px solid white;
	margin-top: 15px;
}
textarea {
	width: 30em;
	height: 3em;
	border-radius: 5px;
}
div {
	margin: 0 auto;
	max-width: 500px;
}
.post_submit {
	width: 31em;
	margin-top: 0;
}
a {
	text-decoration: none;
}
.skinny {
	margin-right: 0em;
}
.comments {
	font-family: arial;
	font-size: 75%;
	text-align: left;
	padding: 0 5px 0 5px;
	border-radius: 15px;
	margin: 15px;
}
.post {
	max-width: 500px;
	max-height: 200px;
	background-color: white;
	margin: 2em;
}
#john {
	float: left;
	position: fixed;
	z-index: -1;
	width: 49%;
	border-radius: 5px;
	border: 2px solid white;
	margin: 35px;
	opacity: .6;
}




















